<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Ratings &amp; Costs [as per SDP 2012 data]:</h4>

  <div class="mdl-cell--2-col label">CAC</div>
  <div class="mdl-cell--3-col">{{school | get: '2012 Condition Assessment Cost [CAC]' | currency}}</div>

  <div class="mdl-cell--2-col label">CRV</div>
  <div class="mdl-cell--3-col">{{school | get: '2012 Replacement Cost [CRV]' | currency }}</div>

  <div class="fci mdl-cell--5-col label">FCI Rating <span class="fci-rating-rank">FAIR</span></div>
  <div class="fci mdl-cell--6-col fci-rating">{{school | get: '2012 Facility Condition Index [FCI]' | percentage}}</div>

  <div class="mdl-cell mdl-cell--12-col fci-gauge"><svg></svg></div>

  The FCI Rating is the ratio of the Condition Assessment Cost (CAC) to the Current Replacement Value (CRV).
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Asbestos:</h4>

  Asbestos values are not currently available for this school.
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Lead in Paint:</h4>

  Lead in Paint values are not currently available for this school.
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Lead in Water:</h4>

  {% if school.lead.2010 %}
    <div class="mdl-cell--7-col label">Total # Samples in 2010</div>
    <div class="mdl-cell--4-col">
      <a href="lead">{{school.lead.2010 | size}}</a>
    </div>
    <div class="mdl-cell--7-col label">Total # Elevated</div>
    <div class="mdl-cell--4-col">
      <a href="lead">{{school.lead2010Elevated}}</a>
    </div>
  {% endif %}
  {% if school.lead.2016 %}
    <div class="mdl-cell--7-col label">Total # Samples in 2016</div>
    <div class="mdl-cell--4-col">
      <a href="lead">{{school.lead.2016 | size}}</a>
    </div>
    <div class="mdl-cell--7-col label">Total # Elevated</div>
    <div class="mdl-cell--4-col">
      <a href="lead">{{school.lead2016Elevated}}</a>
    </div>
    <hr />
  {% endif %}

  <a href="lead">View Lead-in-Water Testing Summary</a>
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Mold:</h4>

  Mold values are not currently available for this school.
</div>
