<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Ratings &amp; Costs:</h4>

  <div class="mdl-cell--2-col label">CAC</div>
  <div class="mdl-cell--3-col">{{school | get: 'Condition Assessment Cost [CAC]' | currency}}</div>

  <div class="mdl-cell--2-col label">CRV</div>
  <div class="mdl-cell--3-col">{{school | get: 'Replacement Cost [CRV]' | currency }}</div>

  <div class="fci mdl-cell--5-col label">FCI Rating <span class="fci-rating-rank">FAIR</span></div>
  <div class="fci mdl-cell--6-col fci-rating">{{school | get: 'Facility Condition Index [FCI]' | percentage}}</div>

  <div class="mdl-cell mdl-cell--12-col fci-gauge"><svg></svg></div>

  The FCI Rating is the ratio of the Condition Assessment Cost (CAC) to the Current Replacement Value (CRV).
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Asbestos:</h4>

  Asbestos values are not currently available for this school.
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Lead in Paint:</h4>

  Lead in Paint values are not currently available for this school.
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Lead in Water:</h4>

  {% if school.lead.2016 %}
    <div class="mdl-cell--7-col label">Average of all samples for 2016</div>
    <div class="mdl-cell--4-col">{{school.lead2016Average}} ppb</div>
    <div class="mdl-cell--7-col label">Total Samples in 2016</div>
    <div class="mdl-cell--4-col">{{school.lead.2016 | size}}</div>
    <hr />
  {% endif %}
  {% if school.lead.2010 %}
    <div class="mdl-cell--7-col label">Average of all samples for 2010</div>
    <div class="mdl-cell--4-col">{{school.lead2010Average}} ppb</div>
    <div class="mdl-cell--7-col label">Total Samples in 2010</div>
    <div class="mdl-cell--4-col">{{school.lead.2010 | size}}</div>
  {% endif %}

  <a href="lead">View all lead samples data</a>
</div>

<hr />

<div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Mold:</h4>

  Mold values are not currently available for this school.
</div>
