<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">School Profile:</h4>

  <div class="mdl-layout-spacer"></div>

  <a class="pdf-img mdl-cell mdl-cell--6-col" href="../data/pdf/profile/{{school | get: 'ULCS Code' }}.pdf"></a>

</div>

<hr />

<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Reports:</h4>

  <div class="mdl-layout-spacer"></div>

  {% for report in school.reports %}
    <a class="pdf-img mdl-cell mdl-cell--3-col" href="../data/pdf/report/{{school | get: 'ULCS Code'}}/{{report}}"></a>
  {% endfor %}

</div>

<hr />

<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Images:</h4>

  {% for img in school.images %}
    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp thumb"">
      <a href="../data/image/{{school | get: 'ULCS Code'}}/{{img}}"
         style="background-image: url('../data/image/{{school | get: 'ULCS Code'}}/{{img}}')"></a>
    </div>
  {% endfor %}

</div>

<hr />

<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Resources:</h4>
</div>

