<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">School Profile:</h4>

  <div class="mdl-layout-spacer"></div>

  {% if school.profile2012Pdf %}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <a class="pdf-img" href="../data/pdf/profile/2012/{{school | get: 'ULCS Code' }}.pdf"></a>
      <span>2012</span>
    </div>
  {% endif %}

  {% if school.profile2015Pdf %}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <a class="pdf-img" href="../data/pdf/profile/2015/{{school | get: 'ULCS Code' }}.pdf"></a>
      <span>2015</span>
    </div>
  {% endif %}

</div>

<hr />

{% if school.lead.2016 %}
  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Lead Results:</h4>

    <div class="mdl-layout-spacer"></div>
    {% for result in school.leadResults %}
      <a class="pdf-img mdl-cell mdl-cell--3-col" href="../data/lead/{{school | get: 'ULCS Code'}}/results/{{result}}"></a>
    {% endfor %}

  </div>

  <hr />

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Lead School Letters:</h4>

    <div class="mdl-layout-spacer"></div>
    {% for report in school.leadReports %}
      <a class="pdf-img mdl-cell mdl-cell--3-col" href="../data/lead/{{school | get: 'ULCS Code'}}/reports/{{report}}"></a>
    {% endfor %}

  </div>

  <hr />

{% endif %}

<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Reports:</h4>

  <div class="mdl-layout-spacer"></div>

  {% for report in school.reports %}
    <a class="{{report | split: '.' | last}}-img mdl-cell mdl-cell--3-col" href="../data/pdf/report/{{school.reportsDir}}/{{report}}"></a>
  {% endfor %}

</div>

<hr />

<div class="mdl-grid mdl-cell mdl-cell--12-col images">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Images:</h4>

  {% for img in school.images %}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp image-container mdl-typography--text-center">
      <div class="mdl-card thumb"">
        <a href="../data/image/{{school.imagesDir}}/{{img}}"
           style="background-image: url('../data/image/{{school.imagesDir}}/{{img}}')"></a>
      </div>
      <span>{{img}}</span>
    </div>
  {% endfor %}

</div>

<hr />

<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h4 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Resources:</h4>
</div>

