<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h6 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Details:</h6>

  <div class="mdl-cell--7-col label">Region</div>
  <div class="mdl-cell--5-col">{{school | get: 'Planning Area'}}</div>

  <div class="mdl-cell--7-col label">Address</div>
  <div class="mdl-cell--5-col">{{school | get: 'Street Address'}}</div>

  <div class="mdl-cell--7-col label">Level</div>
  <div class="mdl-cell--5-col">{{school | get: 'School Type'}}</div>

  <div class="mdl-cell--7-col label">Councilmanic</div>
  <div class="mdl-cell--5-col">{{school | get: 'Councilmanic District & Rep'}}</div>

  <div class="mdl-cell--7-col label">Managed By</div>
  <div class="mdl-cell--5-col">{{school | get: 'Managed'}}</div>

  <div class="mdl-cell--7-col label">Principal</div>
  <div class="mdl-cell--5-col">{{school | get: 'Principal'}}</div>

  <div class="mdl-cell--7-col label">Year Built</div>
  <div class="mdl-cell--5-col">{{school | get: 'Year Built'}}</div>

  <div class="mdl-cell--7-col label">Size [sq ft]</div>
  <div class="mdl-cell--5-col">{{school | get: 'Sq. Ft. (Building)'}}</div>

  <div class="mdl-cell--7-col label"># of Student</div>
  <div class="mdl-cell--5-col">{{school | get: 'Total # of Students'}}</div>
</div>

<hr />

<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h6 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Demographics:</h6>

  <div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col demo-container">
    <div class="mdl-cell--8-col">
      <div class="demographics-chart ct-chart"></div>
    </div>
    <div class="mdl-cell--4-col legend-container"></div>
  </div>
</div>
